.admin-dashboard-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
.admin-reports-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    padding: 0;
    margin: 0px 20px;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.admin-report-counter-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.report-counter {
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #022B60;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 600;
}

.status-breakdown {
    top: 60px;
    right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}

.status-breakdown div {
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

.waiting-dispatch {
    background-color: #ffc107;
    padding: 20px;
    color: #000;
}

.rescue-dispatched {
    background-color: #007bff;
    padding: 20px;
    color: #fff;
}

.completed {
    background-color: #28a745;
    padding: 20px;
    color: #fff;
}


.report-link {
    text-decoration: none;

    color: #000;
}


.admin-report-card {
    margin: 20px 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.report-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    text-decoration: none;
}

/* Only works if you set the option value of the drop down menu in AdminReportDispatch.js as the same values set below */
/* .status-tag {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

.status-tag.default {
    background-color: #ccc;
    color: #000;
}

.status-tag.in-progress {
    background-color: #ffc107;
    color: #000;
}

.status-tag.completed {
    background-color: #28a745;
    color: #fff;
} */


.status-tag {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

.status-tag.waiting-dispatch {
    background-color: #ffc107;
    /* Yellow */
    color: #000;
}

.status-tag.rescue-dispatched {
    background-color: #007bff;
    /* Blue */
    color: #fff;
}

.status-tag.completed {
    background-color: #28a745;
    /* Green */
    color: #fff;
}


.report-card p {
    margin-bottom: 10px;
}

.report-card h3 {
    margin-bottom: 0;
    font-size: 18px;
    color: #333;
}