.create-task-page {
    padding: 20px;
}

.return-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.return-button:hover {
    background-color: #0056b3;
}

.create-task-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-task-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.subtask-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.subtask-group input {
    flex: 1;
    margin-right: 10px;
}

.subtask-group button {
    padding: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subtask-group button:hover {
    background-color: #c82333;
}

.addSubTaskButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

.addSubTaskButton button:hover {
    background-color: #0056b3;
}

.createTaskButton {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

.createTaskButton button:hover {
    background-color: #218838;
}
