.profile-page-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-details, .profile-edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-details p {
    margin: 10px 0;
}

.input-box {
    margin-bottom: 15px;
    width: 80%;
    text-align: left;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #ffc400;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    width: 48%;
    margin-top: 15px; /* Ensure spacing between buttons and input fields */
}

button:hover {
    background-color: #b30000;
}

button[type="button"] {
    background-color: #6c757d;
}

button[type="button"]:hover {
    background-color: #5a6268;
}

.edit-button {
    background-color: #2b85d4;
}

.edit-button:hover {
    background-color: #2b85d4;
}
