/* src/styles/ProjectDetails.css */
.project-details {
    padding: 20px;
}

.project-details h2 {
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    margin-bottom: 10px;
}

.section p {
    margin: 0;
}
